*{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    font-size: 55px;
    
}
body{
    background-color: #414073;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    background-color: #c4edce;
    height:18vmin ;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    font-size: 8vmin;
    color: #69211e;

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#newgame{
    margin-bottom: 50px;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#msg{
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 5vmin;
}

.msgcontainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}